FirstApplication/RestProject/SOA/WADLs/RestServiceGetName.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestServiceGetName">RestService that gets the name</doc>
   <resources>
      <resource path="/Jsr/getNames">
         <method name="GET" soa:name="Method_getfullName">
            <request>
               <param name="firstName" style="query" type="xsd:string"/>
               <param name="lastName" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
   </resources>
</application>
